<%- contentFor('body') -%>
<form action = "/rezultat-chestionar" method="POST">
    <% for(var i=0; i < intrebari.length; ++i){ %>
        <p><%= intrebari[i].intrebare %></p>
        <% for(var j=0;j < intrebari[i].variante.length; ++j) { %>
            <input type="radio" name="intrebare<%=i%>" value="<%=j%>"><%=intrebari[i].variante[j]%><br>
        <% } %>
    <% } %>
    <input type="submit" value="Submit">
</form>

<%- contentFor('footer') -%>
<form action = "/rezultat-chestionar" method="POST">
</form>